.table-header
  display: flex

.spacer
  flex: 1 1 auto


.shipments
  padding: 1rem

table
  width: 100%
  margin-top: 1rem
  border-collapse: separate
  border-spacing: 0 8px

.mat-header-cell,
.mat-cell
  padding: 16px 8px 16px 8px
